/* .create-image {
background: url(https://tse3.mm.bing.net/th?id=OIP.zJWy-U_ABuCFwwDW9umYfwHaDU&pid=Api&P=0&h=180);
}

.Create-board {
    top: 100px;
    left: 500px;
    position: absolute;
    width: 369px;
    height: 493px;
    background: #151313;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;

} */