.modal-footer {
    align-self: center;
}

.modal-content {
    background-color: #151313;
    align-self: center;
    color: grey;
    font-weight: 500;
}

.board-image-one {
    background-image: url("../images/reflection.jpg")  !important;
    margin-top: 15px;
    height: 15vh;
    width: 40vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #151313;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid black;
}
.board-image-two {
    background-image: url("../images/reflection.jpg")  !important;
    margin-top: 15px;
    height: 15vh;
    width: 40vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #151313;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid black;
}
.board-image-three {
    background-image: url("../images/reflection.jpg")  !important;
    margin-top: 15px;
    height: 15vh;
    width: 40vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #151313;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid black;
}
.board-image-four {
    background-image: url("../images/reflection.jpg")  !important;
    margin-top: 15px;
    height: 15vh;
    width: 40vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #151313;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid black;
}
.board-image-five {
    background-image: url("../images/reflection.jpg")  !important;
    margin-top: 15px;
    height: 15vh;
    width: 40vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #151313;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid black;
}

.board-image-first {
    background-image: url("../images/test.png");
    margin-top: 15px;
    height: 15vh;
    width: 40vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #151313;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid black;
}

.board-images-one{
    background-image: url("../images/reflection.jpg");
    height: 10vh;
    width: 10vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #151313;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: grab;
}

.board-images-two{
    background-image: url("../images/reflection.jpg");
    height: 10vh;
    width: 10vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #151313;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: grab;
}
.board-images-three{
    background-image: url("../images/reflection.jpg");
    height: 10vh;
    width: 10vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #151313;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: grab;
}
.board-images-four{
    background-image: url("../images/reflection.jpg");
    height: 10vh;
    width: 10vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #151313;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: grab;
}
.board-images-five{
    background-image: url("../images/reflection.jpg");
    height: 10vh;
    width: 10vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #151313;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: grab;
}

.image-selection {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.createboard-button {
    width: 30vw;
}

.create-footer {
    padding: 25px;
}

@media (max-width: 480px) {
    .createboard-button {
        width: 70vw;
    }
}

input {
    background-color: #222121;
    color: rgb(163, 163, 163);
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    margin-top: 5px;
}

input:active{
    border: none;
    cursor:default;
}


.required-title {
    font-size: 10px;
    padding-top: 2px;
}

label {
    margin-left: 10px;
    margin-top: 5px;
}
