* {
   margin: 0;
   padding: 0;
}

.nav-header {
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: #151313;
  padding: 8px;
}

.nav-header h1 {
padding-left: 30px;
margin-right: 50px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
color: #969696;
}

.create-button {
  padding: 2px 15px;
}

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: end;
}



.navbar .container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: flex-end;
}

.dropdown-toggle {
  align-self: flex-end;
}
.dropdown-menu{
  display: flex;
  justify-content: end;
  flex-direction: column;
}

@media  (max-width: 480px) {
  .nav-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
  }
  .nav-header h1 {
    padding-left: 0;
    margin-right: 0;
  }
  
}