.task-border{
    background-color: rgb(0, 0, 0);
    opacity: 90%;
    font-size: 14px;
    font-weight: 500;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    color: rgb(195, 195, 195);
    padding-top: 10px;
    padding-left: 5px;
    text-align: left;
    margin: 10px;
    list-style-type: none;
    animation: .08s ease-in 1 slideInFromTop;
}


.created-tasks {
    display: flex;
    margin-left: 25px;
}

.created-taskbutton {
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.6);
    font-weight: 600;
    font-size: 15px;
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    padding-top: 3px;
    text-align: left;
    margin-left: 43px;
    list-style-type: none;
}

.created-taskbutton:hover {
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.3);
    transition: .2s;
    font-weight: 600;
    font-size: 15px;
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    padding-top: 3px;
    text-align: left;
    margin-left: 43px;
    list-style-type: none;
}

.Add-Task {
    width:  90px;
    height: 40px;
    margin-left: 20px;
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-20%);
    }
    100% {
        transform: translateY(0);
    }
}

.Create-New {
    animation: .2s ease-in  1 slideInFromTop;
    margin-left: 43px;
    width: 300px;
    height: 110px;
    background-color: black;
    border-radius: 20px;
    color: white;
}

.close-out {
    background-color: inherit;
    border-radius: 65px;
    font-weight: 600;
    font-size: 30px;
    color: grey;
    border: none;
    background: none;

}
.x-out {
    margin-top: 8px;
}

.input-task {
    color: rgb(178, 178, 178);
    font-weight: 500;
    padding: 5px;
    border-radius: 2px;
    width: 115%;
    border: 2px solid rgb(24, 153, 223);
    outline: none;
   
}
.input-task::placeholder {
    color: #c9c9c9; 
    font-weight: 400;
}

.input-task:active {
    padding: 5px;
    border-radius: 2px;
    width: 120%;
    border: 2px solid rgb(24, 153, 223);
    outline: none;
}

.created-categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

